<a href="https://colab.research.google.com/github/ravijainpro/colabs/blob/master/ram_Data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from io import StringIO 
# StringIO - It is only used for the purpose of illustration,so that the csv_data will behave as if it was present in our Disk.

In [0]:
csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
9.0,10.0,11.0,
'''

In [0]:
df = pd.read_csv(StringIO(csv_data))

In [0]:
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN

In [0]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [0]:
df.isnull

<bound method DataFrame.isnull of      A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN>

In [0]:
df.dropna(subset=['D'])

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  5.0  6.0  NaN  8.0

In [0]:
from sklearn.preprocessing import Imputer

In [0]:
imr = Imputer(strategy='median')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
imr = imr.fit(df.values)

In [0]:
imputed_data = imr.transform(df.values)

In [0]:
imputed_data

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [ 9., 10., 11.,  6.]])

In [0]:
df_cat = pd.DataFrame(data = 
                     [['green','M',10.1,'class1'],
                      ['blue','L',20.1,'class2'],
                      ['white','M',30.1,'class1']])
df_cat.columns = ['color','size','price','classlabel']

In [0]:
df_cat

   color size  price classlabel
0  green    M   10.1     class1
1   blue    L   20.1     class2
2  white    M   30.1     class1

In [0]:
size_mapping = {'M':1,'L':2}

In [0]:
df_cat['size'] = df_cat['size'].map(size_mapping)

In [0]:
df_cat

   color  size  price classlabel
0  green     1   10.1     class1
1   blue     2   20.1     class2
2  white     1   30.1     class1

In [0]:
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
df_cat['classlabel'] = class_le.fit_transform(df_cat['classlabel'].values)

In [0]:
df_cat

   color  size  price  classlabel
0  green     1   10.1           0
1   blue     2   20.1           1
2  white     1   30.1           0

In [0]:
# Using get_dummies() for One-Hot Encoding
pd.get_dummies(df_cat[['color','size','price']])

   size  price  color_blue  color_green  color_white
0     1   10.1           0            1            0
1     2   20.1           1            0            0
2     1   30.1           0            0            1

In [0]:
pd.get_dummies(df_cat[['color','size','price']],drop_first=True)

   size  price  color_green  color_white
0     1   10.1            1            0
1     2   20.1            0            0
2     1   30.1            0            1